<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load crispy_forms_tags %}
    <!-- cdn css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- cdn for fontawesome -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
   <!-- As a link -->
<nav class="navbar bg-dark text-white ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Navbar</a>
    </div>
  </nav>


  <!-- login form -->
  <div class="container mt-5">
    {% for msg in messages%}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-sucess">
        {{msg}}
    </div>
     {% endif %}

     {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger">
        {{msg}}
    </div>
     {% endif %}
     {% endfor %}
            <form action="" method="post" class="shadow p-3">
                {% csrf_token%}
    
                {{forms | crispy}}
                <div class="my-2">
                  <a href="/login">
                    <input type="submit" value="Login" class="btn btn-primary d-flex justify-content-center">
               </a>
                  </div>
           
          
        
          <button type="submit" class="btn btn-primary d-flex justify-content-center">Sign in</button>
         
        
        <a class="d-flex justify-content-center" href="#">New around here? Sign up</a>
        <a class="d-flex justify-content-center" href="#">Forgot password?</a>
      </form>
      </div>
   
  
</body>
</html> 